@model BackendApi.Data.Entities.Books

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Desea eliminar este libro?</h3>
<div>
    <h4>Banco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </form>
</div>
