@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="row">
    <div class="col-md-3">
        <h2>Backend API</h2>
        <ul>
            <li>ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>    
  
</div>
